html {
    color: rgb(110, 108, 108);
}
/* Header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
    float: right;
}

#header li {
    display: inline-block;
    margin-right: 10px;
  
}

/*MAIN STUFF*/ 
#main {
    display: block;
    padding-bottom: 15px;
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 50%;
}
#centerme {
    width: 272px;
    margin-bottom: 10px;
}
input {
    margin-left: 30%;
    margin-right: 30%;
    width: 500px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 20px;
}
#button {    
    display:inline-block;
    margin-left: 40%;
    margin-right: 10%;
    margin-bottom: 14%;
}
#button1, #button2 {
    border-radius: 4px;
    color: rgb(110, 108, 108);
    background-color: rgb(245, 245, 245);
    padding: 10px 6px;
    
}

#button1 {
    margin-right: 10px;
}


/*Footer*/

#footer {
    background-color: rgb(245, 245, 245);
}
#footer li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    

}

